* {
  background-color: #000000;
}

h1 {
  color: #FF00F0;
  text-align: center;
}


div#TTD_GAME {
  display: flex;
  width: 95%;
  height: 90%;
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  margin-top: -15;
}
